* {
  margin: 0px;
  padding: 0px;
  outline: none;
  width: 100%;
}
.my-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.analog-area {
  background-image: url(./images/fancyClock.jpg);
  width: 370px;
  height: 650px;
  background-size: contain;
  position: relative;
  margin-top: 50px;
}
.hands {
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 53%;
  transform-origin: left;
  border: 3px solid white;
  background-color: white;
  z-index: 100;
}
.hours-hand {
  width: 80px;
  height: 2px;
  top: calc(53% - 2px);
}
.minutes-hand {
  width: 130px;
  height: 1px;
  top: calc(53% - 1px);
}
.seconds-hand {
  width: 130px;
  height: 1px;
  border-color: maroon;
  background-color: maroon;
}
.milliseconds-hand {
  width: 47px;
  height: 0px;
  border-color: rgb(180, 180, 200);
  transition: 10ms transform;
}

.digital-area {
  display: flex;
  text-align: center;
  align-items: center;
  width: 85px;
  height: 35px;
  color: white;
  border-radius: 5px;
  font-size: large;
  font-weight: 900;
  position: absolute;
  left: 38%;
  top: 38%;
  background-color: #202832;
  border: 3px solid black;
  box-shadow: 0px 0px 10px -1px black inset;
}

@media screen and (max-width: 500px) {
  .analog-area {
    width: 285px;
    height: 505px;
  }
}
