* {
  margin: 0px;
  padding: 0px;
  outline: none;
  width: 100%;
}
.my-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.analog-area {
  background-image: url(./images/fancyClock.jpg);
  width: 370px;
  height: 650px;
  background-size: contain;
  position: relative;
}
.hands {
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 53%;
  transform-origin: left;
  border: 3px solid white;
  background-color: white;
}
.hours-hand {
  width: 80px;
  height: 2px;
  top: calc(53% - 2px);
}
.minutes-hand {
  width: 130px;
  height: 1px;
  top: calc(53% - 1px);
}
.seconds-hand {
  width: 130px;
  height: 1px;
  border-color: maroon;
  background-color: maroon;
}
.milliseconds-hand {
  width: 47px;
  height: 0px;
  border-color: rgb(180, 180, 200);
  transition: 10ms transform;
}
